name: CI

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    container: swift:latest
    steps:
      - uses: actions/checkout@v5
      - run: swift format lint -r -p -s .
  test:
    runs-on: ubuntu-latest
    container: swift:latest
    steps:
      - uses: actions/checkout@v5
      - run: swift test
  docker-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: docker build .
